.doc-view {
    color: #000000;
    padding: 15px;
}

/* 文章标题 */
.doc-view>h2 {
    font-size: 30px;
    padding: 30px 0;
}

/* 一级标题 */
.doc-view>h3 {
    font-size: 15px;
    line-height: 2em;
    padding: 20px 0;
}

.doc-view>h3::before {
    content: "#";
    color: #711e32;
}

/* 二级标题 */
.doc-view>h4 {
    font-size: 14px;
    line-height: 2em;
    padding: 15px 0;
}

/* 段落 */
.doc-view>p {
    line-height: 1.6em;
    text-indent: 2em;
    color: #3c3939;
    font-weight: 400;
    font-size: 14px;
    margin: 10px 0;
}

/* 表格 */
.doc-view>table {
    width: 100%;
    line-height: 30px;
}

.doc-view>table>tbody>tr>* {
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #c1bcbc;
}

.doc-view>table>*>tr>td {
    padding-left: 1em;
}

.doc-view>table>tbody>tr>*:first-child {
    border-width: 0 1px 1px 1px;
}

.doc-view>table>tbody>tr:nth-child(2n) {
    background-color: #F5F5F5;
}

.doc-view>table>tbody>tr:nth-child(2n+1) {
    background-color: #fff;
}

.doc-view>table>thead>tr {
    background-color: #c1bcbc;
    border: 1px solid #c1bcbc;
    color: #fff;
}


/* 列表 */

.doc-view ul,
.doc-view ol {
    font-size: 13px;
    line-height: 2.4em;
}

.doc-view ul {
    margin-left: 1.5em;
}

.doc-view ol {
    margin-left: 2.5em;
}

.doc-view ol>li {
    list-style-type: decimal;
}

/* 重要内容 */

.doc-view .important {
    color: rgb(255, 0, 0);
    font-weight: 800;
}

/* 可点击链接 */

.doc-view .link {
    color: rgb(59, 59, 180);
    cursor: pointer;
    text-decoration: underline;
}

.doc-view .link:hover {
    color: rgb(0, 0, 255);
    font-weight: 800;
}

/* 过时标记 */

.doc-view .outdated {
    text-decoration: line-through;
    text-decoration-color: red;
}
